<div class="pl-5 pr-5 container">

  <app-toast aria-live="polite" aria-atomic="true"></app-toast>

  <div class="row mt-2 mb-5">
    <h3>Medical accueil</h3>
  </div>

  <div class="routes d-flex flex-row justify-content-between">
    <button class="route"><a routerLink="/patients">Patients</a></button>
    <button class="route"><a routerLink="/medecins">Medecins</a></button>
    <button class="route"><a routerLink="/consultations">Consultations</a></button>
    <button class="route"><a routerLink="/meetings">Rendez-vous</a></button>
    <button class="route"><a routerLink="/facilities">Structure Hospitalière</a></button>

  </div>

  <div class="pl-5 pr-5">
    <router-outlet class="container"></router-outlet>
  </div>

</div>

