<div class="container">
  <div class="row justify-content-md-end">
    <div class="col-1">
      <button class="mb-1 mt-4 btn btn-success btn-sm" (click)="addMeeting()">Nouveau</button>
    </div>

  </div>
</div>



<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
  <tr>
    <th>Id</th>
    <th>Medecin</th>
    <th>Patient</th>
    <th>Date</th>
    <th>Heure</th>
    <th>Consultation</th>
  </tr>
  </thead>
  <tbody *ngIf="!!meetings">
  <tr *ngFor="let meeting of meetings">
    <td>{{meeting.id}}</td>
    <td>{{meeting.medecin.name}}</td>
    <td>{{meeting.patient.name}}</td>
    <td>{{meeting.date}}</td>
    <td>{{meeting.heure}}</td>
    <td></td>

  </tr>
  </tbody>
</table>
